html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--bg-body);
  color: var(--text-primary);
}

h2, h3 {
  margin: 0;

  &.dark {
    background: var(--bg-h3-dark);
    color: var(--text-h3-dark);
  }
}

main {
  padding: 0;
  @media all and (min-width: 640px) {
    padding: 0 3rem;
  }
}

a {
  cursor: pointer;
}

.mobile-only {
  @media screen and (min-width: 640px) {
    display: none!important;
  }
}

.wide-only {
  @media screen and (max-width: 640px) {
    display: none!important;
  }
}

.display-none {
  display: none;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-stretch {
  flex: 1 0;
}

label {
  margin-bottom: 1rem;

  &.required {
    &::after {
      color: red;
      padding-left: 0.25rem;
      content: "*";
    }
  }
}

textarea {
  width: 40rem;
  height: 10rem;
}

.margin-bottom-1 {
  margin-bottom: 1rem;
}

.token {
  background-color: var(--color);
  color: contrast-color(var(--color));
  min-width: 3rem;
  min-height: 2rem;
  border: 1px solid rgba(0,0,0,0.35);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
