#index {
  align-items:flex-start;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media screen and (min-width: 640px) {
    flex-direction: row;
  }

  div.active {
    display: flex;
    flex-direction: column;
    width: 100%;

    .token {
      @media screen and (max-width: 640px) {
        border: 0;
        border-radius: 0;
      }
    }

    time {
      text-align: center;
      @media screen and (max-width: 640px) {
        margin: 0.5rem 0;
        font-weight: 700;
      }
    }
  }

  div.timers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100px;

    h3 {
      margin-bottom: 1rem;
    }

    & .token {
      padding: 1rem;
    }
  }

  table {
    border-spacing: 0;

    tr + tr {
      padding-top: 1rem; 
      td {
        padding-top: 1rem;
        border-top: 1px solid #bbb;
      }
    }

    td {
      padding-bottom: 1rem;
    }
    
    td + td {
      padding-left: 1rem;
    }

    .token {
      padding: 0;
      width: 1rem;
      height: 1rem;
      min-height: 0;
      min-width: 0;
    }
  }
}