#index {
  align-items:flex-start;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media screen and (min-width: 640px) {
    flex-direction: row;
  }

  div.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 2rem;

    .token {
      border: 0;
      border-radius: 0;
      width: 100%;
      padding: 1rem 0;
    }

    time {
      text-align: center;
      margin: 0.5rem 0;
      font-weight: 700;
    }

    button {
      padding: 3rem;
    }
  }

  hr {
    width: calc(100% - 6px);
    border: 3px solid var(--line-color);
  }

  div.timers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;

    @media screen and (max-width: 640px) {
      font-size: 2rem;
      width: 100%;
    }

    @media screen and (min-width: 640px) {
    }

    h3 {
      margin-bottom: 1rem;
    }

    button {
      height: 100%;
    }

    .timers-row {
      @media screen and (max-width: 640px) {
        display: flex;
        flex-direction: row;
        gap: 1rem;
      }
    }

    & .token {
      padding: 1rem;
      @media screen and (max-width: 640px) {
        font-size: 2rem;
        min-width: 10rem;
      }
    }
  }

  div.entries {
    h3 {
      padding: 1rem;
      margin-bottom: 0.5rem;
    }
  }

  table {
    border-spacing: 0;

    tr + tr {
      padding-top: 1rem; 
      td {
        padding-top: 1rem;
        border-top: 1px solid #bbb;
      }
    }

    td {
      padding-bottom: 1rem;
    }
    
    td + td {
      padding-left: 1rem;
    }

    .token {
      padding: 0;
      width: 1rem;
      height: 1rem;
      min-height: 0;
      min-width: 0;
    }
  }

  .daily-summary {
    h3 {
      margin-bottom: 1rem;
    }

    hr {
      margin: 2rem 0;
      border-color: var(--line-color);
    }
  }
}