#reports {
  h3 {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }

  table#week-report {
    font-family: monospace;
    border-spacing: 0;

    td {
      border-top: 1px solid #ddd;
      padding: 0.5rem 1rem;
    }
  }

  #daily {
    .token {
      width: 1rem;
      height: 1rem;
      min-width: 1rem;
      min-height: 1rem;
    }

    td {
      padding: 1rem 1rem 1rem 0;
      + td {
        padding: 0 1rem;
      }
    }
  }
}