html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h2, h3 {
  margin: 0;
}

header {
    position: sticky;
    top: 0;
    background: black;
    color: white;
    box-shadow: 0 0.25rem 0.25rem #888;
    margin-bottom: 1.5rem;

    .top {
      padding: 1rem;
      display: flex;
      align-items: center;

      a {
        color: white;
        &:visited, &:active {
          color: white;
        }
        &:hover {
          color:orange;
        }
      }

    & button {
      align-self: flex-end;
    }
  }

  #banner {
    color: black;
    background: #ffc995;
    padding: 0.5rem 3rem;

    .message {
      margin: 1rem 0;
    }
  }
}

main {
  padding: 0 3rem;
}

a {
  cursor: pointer;
}

button, a[role="button"] {
  font-family:
    Source Sans Pro Web,
    Helvetica Neue,
    Helvetica,
    Roboto,
    Arial,
    sans-serif;
  font-size: 1.06rem;
  line-height: 0.9;
  color: #fff;
  background-color: #005ea2;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  align-items: center;
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  display: inline-flex;
  font-weight: 700;
  justify-content: center;
  padding: 0.75rem 1.25rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
  color: #1b1b1b;
  background-color: #00bde3;
  width: auto;

  &:focus {
    outline: 0.25rem solid #2491ff;
    outline-offset: 0.25rem;
  }

  &:active {
    color: #fff;
    background-color: #07648d;
  }

  &:hover {
    color: #1b1b1b;
    background-color: #28a0cb;
  }
}

.flex-stretch {
  flex: 1 0;
}

.token {
  background-color: var(--color);
  width: 3rem;
  height: 2rem;
  border: 1px solid rgba(0,0,0,0.35);
  border-radius: 0.5rem;
}

label {
  margin-bottom: 1rem;

  &.required {
    &::after {
      color: red;
      padding-left: 0.25rem;
      content: "*";
    }
  }
}

textarea {
  width: 40rem;
  height: 10rem;
}

#clients {
  table {
    border-spacing: 0;
    width: 40rem;
    td {
      white-space: nowrap;

      &.fill {
        white-space: inherit;
        width: 100%;
      }
    }

    th, td {
      margin: 0;
      padding: 1rem 1rem;
    }

    thead tr {
      border: 1px solid #d8d8d8;
      background: black;
      color: white;
    }

    tbody tr:nth-child(even) {
      background: #d8d8d8;
    }
  }

  hr {
    margin: 2rem 0;
  }
}