{% extends "base.html" %}
{% load otp_webauthn %}

{% block head %}
<style type="text/css">
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
</style>
{% endblock %}

{% block content %}
<form method="post">
    <span id="passkey-verification-placeholder"></span>

    <template id="passkey-verification-available-template">
        <button type="button" id="passkey-verification-button">Sign in</button>
        <div id="passkey-verification-status-message"></div>
    </template>

    <template id="passkey-verification-unavailable-template">
        <p>Oops, your browser doesn't do passkeys.</p>
    </template>

    {% render_otp_webauthn_auth_scripts %}
</form>
{% endblock %}